<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Zamówione!</h2>
        <p>Możesz sprawdzić swoje zamówienia w sekcji zamówienia w swoim profilu.</p>
        <hr />
        <p>Dzięki!</p>
    </div>
</div>