<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Zamówiono!</h2>
        <p>Możesz sprawdzić swoje zamówienie w profilu użytkownika!</p>
        <hr />
        <p>Dzięki!</p>
    </div>
</div>