<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Mamy problem!</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Produkty" asp-action="Index">Strona startowa</a>
    </div>
</div>